<div style="text-align:center;margin-top:200px">
<h1><strong>ResumeBot</strong></h1></br>
<h3>Craft a beautifully professional resume in seconds!</h3></br>

<h3 style="color:blue"><%= link_to "See a Sample!", user_path(@demo) %></h3>
</div>