
<!-- Container -->
<div id="container">

    <!-- Top -->
	<div class="top"> 
    	<!-- Logo -->
    	<div id="logo" style="display: block; ">
        	<h2>Resume Robot</h2>
            <h4>Stand out from the crowd with an online resume for $1 a month. </h4>
        </div>
        <!-- /Logo -->
        
    </div>
    <!-- /Top -->
    
    <!-- Content -->
    <div id="content" >
			<%= image_tag "resume_robot.png", :title => "Resume Robot", :class => "resume_robot" %>
  			<%= link_to image_tag("nav_ie.png", :class => "nav", :id => "nav_ie"), user_path(@demo) %>	
			<%= link_to image_tag("nav_new.png", :class => "nav", :id => "nav_new"), new_user_path  %>
    </div>	
<!-- /Content -->
    
    <!-- Footer -->
	<div class="footer">
    	<div class="copyright">Copyright © 2012</div>
    </div>
    <!-- /Footer --> 
    
</div>
<!-- /Container -->

